%h1 Edit a feature


= form_tag update_feature_path(:file => @feature) do
  = text_area_tag "content", @feature.read, :rows => 20, :cols => 100
  %br
  = submit_tag "Update"


= link_to "Back", root_path
